gh-pages/
ohai.jsonlang
.ropeproject/
.idea/
.iml
jsonlang.dSYM
*~
*.pyc
jsonlang.egg-info
.*.swp
.swp
*.o
jsonlang
!jsonlang/
bin/
_jsonlang.so
libjsonlang.so
/libjsonlang.js
libjsonlang_test_file.dSYM
libjsonlang_test_snippet.dSYM
core
core.*
vgcore
vgcore.*
*.jsonlang.h
Makefile.depend
Makefile.depend.bak

# Fractal demo
case_studies/fractal/*.packer.log
case_studies/fractal/*.packer.done
case_studies/fractal/*.packer.json
case_studies/fractal/terraform.done
case_studies/fractal/terraform.plan
case_studies/fractal/service.list
case_studies/fractal/*.tf
case_studies/fractal/service_account_key.json
case_studies/fractal/imgproc/mandelbrot
case_studies/fractal/*.pyc
case_studies/fractal/*.tfstate
case_studies/fractal/*.tfstate.backup
case_studies/fractal/credentials.jsonlang

build/
dist/
jsonlang.egg-info/
