gh-pages/
ohai*.jsonlang
.ropeproject/
.idea/
.iml
jsonlang.dSYM
*~
*.pyc
jsonlang.egg-info
.*.swp
.swp
*.o
bin/jsonlang
src/jsonlang
!jsonlang/
_jsonlang.so
libjsonlang.so
/libjsonlang.js
libjsonlang_test_file.dSYM
libjsonlang_test_snippet.dSYM
core
core.*
vgcore
vgcore.*
*.jsonlang.h
Makefile.depend
Makefile.depend.bak

# Fractal demo
examples/case_studies/fractal/*.packer.log
examples/case_studies/fractal/*.packer.done
examples/case_studies/fractal/*.packer.json
examples/case_studies/fractal/terraform.done
examples/case_studies/fractal/terraform.plan
examples/case_studies/fractal/service.list
examples/case_studies/fractal/*.tf
examples/case_studies/fractal/service_account_key.json
examples/case_studies/fractal/imgproc/mandelbrot
examples/case_studies/fractal/*.pyc
examples/case_studies/fractal/*.tfstate
examples/case_studies/fractal/*.tfstate.backup
examples/case_studies/fractal/credentials.jsonlang

build/
dist/
jsonlang.egg-info/
