{% include 'header.html.jinja' %}

<h1>Contributing</h1>

<p>We look forward to your contributions!</p>

<h2>Community</h2>

<p>There is also an IRC channel: #jsonlang on the freenode network (chat.freenode.net).</p>

<h2>License &amp; Contributions</h2>

<p>All Jsonlang implementations are licensed under the <a
href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a> license.</p>

<p>If you wish to contribute a patch to Jsonlang, do keep us informed as we may be able to help.
Please create a fork on Github and do your work there. Note: If you want to make changes to the
original project, Jsonnet, then you will need to make changes there because they may or may not
be back ported. At the same time, we may or may not pull those changes forward but our goal is
to maintain all of the great features added to the Jsonnet project. Just fyi.
</p>

{% include 'footer.html.jinja' %}
